*{
  padding: 0;
  margin: 0;
}
header {
  height: 100px;
  font-size: 40px;
 
  display: flex;
  background-color: red;
  justify-content: space-between;
  align-items: center;
  background: rgb(2,0,36);
background: linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(108,49,7,1) 26%, rgba(62,31,18,1) 44%, rgba(125,66,24,1) 68%, rgba(41,9,0,1) 84%);
}
form {
  margin-right: 30px;
}
a {
  color: #fff;
  text-decoration: none;
  margin: 5px;
}
a:hover {
  color: red;
}
img {
  width: 12.31%;
  object-fit: inherit;

  aspect-ratio: 1;
}
nav{
  padding-left: 1rem;
}
h1{
    padding: 10px;
}
span{
  padding-left: 8rem;
  background-color: rgb(20, 20, 20);
  margin-left: 10px;
}
p{

  background-color: rgba(228, 17, 17, 0.445);
  color: wheat;
  border-radius: 7px;
  margin: 9px;
  padding: 10px;
}
.container{
  background-image: url(./fadi-alagi-yxl9NLYbo7o-unsplash.jpg);
  padding: 30px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
body{
  background: rgb(2,0,36);
background: linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(108,49,7,1) 26%, rgba(62,31,18,1) 44%, rgba(125,66,24,1) 68%, rgba(41,9,0,1) 84%);
}